* {
    box-sizing: border-box;
}

ul{
    list-style: none;
    padding: 0;
}

.channelList{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.textChannelContainer{
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 100%;
    background-color: rgb(54,57,63);
    padding: 10px 20px;
}
.channelListContainer{
    width: 175px;
    height: 100%;
    background-color: rgb(47,49,54);
    font-size: 16px;
    font-family: inherit;
    padding: 10px;
}
.serverListContainer{
    width: 65px;
    background-color: rgb(32, 34, 37);
}
.App{
    display: flex;
    height: 100%;
}
.Server{
    display: flex ;
    flex: auto;
    height: 100%;
    width: 95%;
}
#root{
    height: 100%;
}
body{
    height: 100vh;
    color: white;
    margin: 0;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.textChannelContainer h1{
    height: 10%;
    margin: 0%;
    
}
.messageList{
    height: 80%;
    list-style: none;
    padding: 0%;
    
}
.messageBox{
    height: 8%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.messageBox textarea{
    width: 80%;
    background-color: rgb(66, 68, 74);
    border-radius: 12px;
    border: none;
    resize: none;
    padding: 8px;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    overflow: hidden;
}

.messageBox textarea:focus-visible{
    outline: none;
}

.channelList li div{
    width: 100%;
    padding: 5px;
    margin: 0%;
    border-radius: 10px;
    font-size: 0.9em;

}
.serverList li div {
    width: 100%;
    padding: 17px 15px;
    margin: 0%;
    background-color: rgba(80, 83, 90, 0.7);
}
.channelList li div:hover,
.addTextChannelSymbol:hover,
#addServerSymbol:hover,
.channelList li div.activeChannel{
    cursor: pointer;
    background-color: rgba(80, 83, 90, 0.7);
}
.serverList li div:hover,
.serverList li div.activeServer
{
    cursor: pointer;
    background-color: rgba(90, 130, 224, 0.7);
}

.channelListTitle{
    display: flex;
    justify-content: space-around;
}
.addTextChannelSymbol
{
    font-size: 1.5em;
    margin: 10px 0;
    padding: 0px 12px;
    border-radius: 50%;
}
#addServerSymbol {
    background-color: rgba(80, 83, 90, 0.7);
    color: green;
    font-size: 40px;
    padding: 4px 16px;
    
}
#addServerSymbol:hover {
    color: white;
    background-color: green;
}
#newChannelInputContainer.visuallyHidden,
#newServerInputContainer.visuallyHidden {
    cursor: default;
    visibility: hidden;
}

.poundSymbol{
    font-size: 1.2em;
    color: grey;
}
.serverList{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.serverName,
#addServerSymbol,
#discordSymbol { 
    border-radius: 50%;
}
#discordSymbol{
    padding: 0%;
    margin: 0%;
}
#discordSymbol:hover{
    cursor: pointer;
}
.channelListPanel{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.userCardContainer{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    height: 50px;
    background-color: rgb(41, 43, 47);
    padding: 5px;
    gap: 10px;
}
.userIcon{
    height: 40px;
    width: auto;
    border-radius: 50%;
}
.messageCardContainer{
    display: flex;
    gap: 10px;
    margin-bottom: 12px;
}
.textPanel {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.userName{
    font-weight: bold;
}
.textChannelContainer h3{
    font-family: Ginto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}
.channelListTitle h1{
    font-size: 15px;
    font-family: Ginto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 5px 0px 5px 0;
    margin-top: 12px;
}
.userCardContainer .userName{
    display: flex;
    flex-direction: column;
} 
.userId{
    font-size: 12px;
    font-family: inherit;
    color: #b9bbbe;
    font-weight: normal;
}
.userCardContainer .userIcon{
    height: 30px;
}
